.dinamic-calendar-wrapper {
  display: flex;
  justify-content: space-between;
}
.search-form-input-wrapper {
  width: 150px;
  margin: 20px 0px;
}
.search-form-button-wrapper {
  margin-top: 30px;
}
