include ../../blocks/input/input
include ../../blocks/button/button

form.search-form(action="#", method="post")
  legend.form-title Найдём номера под ваши пожеления
  div.mytest2
    div.input-wrapper1
      label(class="form-label" for="#calendar1") Прибытие
      +input-field({
        type: 'date',
        placeholder: 'дд.мм.гггг',
        mode: 'input-field_calendar-one',
        type: "text",
        required: true,
        id: "calendar1"
      })
    div.input-wrapper2
      label(class="form-label" for="#calendar2") Выезд
      +input-field({
        type: 'date',
        placeholder: 'дд.мм.гггг',
        mode: 'input-field_calendar-two',
        type: "text",
        required: true,
        id: "calendar2"
      })
  div.drop-wrapper
    label(class="form-label" for="#drop") Гости
    include ../dropdown/dropdown
    div.button-w
      +button({
        lineTitle: 'Подобрать номер',
        mods: 'style1, size2, border-big'
      })

