.dinamic-calendar {
  display: flex;
  justify-content: space-between;
}
.search-form-input-wrapper {
  width: 150px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.search-form-button-wrapper {
  margin-top: 30px;
}
