mixin radio-buttons(props={})
 -
  const {mods, moduleClass, buttonsList} = props
  let allMods = ''
  if (typeof(mods) !== 'undefined' && mods) {
   let modList = mods.split(',')
   for (let i=0; i < modList.length; i++) {
    allMods = allMods + ' radio-buttons_' + modList[i].trim()
   }
  }

 .radio-buttons(class = moduleClass + allMods)
  each buttonString, index in buttonsList
   - const {title, checked, value} = buttonString
   label(tabindex='0').form-label
    input.radio-buttons__input(
     type  = 'radio',
     value = value,
     checked = checked ? checked : false
    )
    span.radio-buttons__marker
    |
    = title

    //TODO: добавить тег с текстом, для изменения цвета шрифта




