extends ../../layout/main/plain-main
include ../../blocks/button/button
block variables
 - let pageClass = 'ui-page';
 - let containerName = 'ui-container'
block content
 include ../../blocks/headers/ui-header/ui-header


   