.ui-page {
  background-color: black;
}
.button-stn-wrapp {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 230px;
  height: 105px;
  border: 2px solid var(--color5);
  box-shadow: var(--color5);
}
