.pages-header-wrapper {
  width: 100%;
  background-color: var(--color8);
  box-shadow: 0px 10px 20px rgba(var(--color-primary), var(--opasity-005));
  padding: 0.8125rem 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 84.8%;
}

.pages-header-nav {
  display: flex;
  justify-content: space-between;
  width: 66.2%;
}

.pages-header-nav-list {
  width: 58.07%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}

.pages-header-nav-link {
  font-family: var(--first-font);
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgba(var(--color-primary), var(--opasity-05));
}
.pages-header-nav-item {
  display: flex;
  align-items: center;
}
.pages-header-button-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 39.5%;
}
