.pages-header-wrapper {
  padding: 0.8125rem 0;
  width: 100%;
  background-color: var(--color8);
  box-shadow: 0 10px 20 rgba(var(--color-primary), var(--opasity-005));
}

.pages-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 85.89%;
}

.pages-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66.3%;
}

.pages-header-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58%;
}

.pages-header-nav-link {
  color: rgba(var(--color-primary), var(--opasity-05));
  font-size: 0.875rem;
  font-family: var(--first-font);
}

.pages-header-nav-item {
  display: flex;
  align-items: center;
}

.pages-header-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 39.54%;
}
