.pages-header-wrapper {
  width: 100%;
  background-color: var(--color8);
  box-shadow: 0 10 20 var(--color5);
  padding: 0.8125rem 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 84.8%;
  //width: 1160px;
  //background-color: green;
}

.pages-header-nav {
  display: flex;
  justify-content: space-between;
  width: 66.2%;
  //width: 768px;
  //background-color: aqua;
}

.pages-header-nav-list {
  //width: 446px;
  width: 58.07%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background-color: red;
}

.pages-header-nav-link {
  font-family: var(--first-font);
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgba(31, 32, 65, 0.5);
}
.pages-header-nav-item {
  display: flex;
  align-items: center;
}
.header-button-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 39.5%;
  //margin-left: 25px;
  //width: 303px;
  //background-color: yellow;
}

//.pages-header-logo {
//  margin-left: 14px;
//}
