@import "src/theme/mixins";
.button {
  display: block;
  width: 100%;
  border-radius: 22px;
  text-transform: uppercase;
  font-size: var(--text-xs);
  font-family: var(--second-font);
  outline: none;
  text-align: center;
  vertical-align: middle;
  padding: 1em;
  border-color: transparent;

  &_theme-text {
    color: var(--purple);
  }
  &_theme-text:hover,
  &_theme-text:focus {
    color: var(--default-color);
    opacity: var(--opasity-05);
  }
  &_theme-main {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: var(--white);
  }

  &_theme-main:hover,
  &_theme-main:focus {
    background: linear-gradient(
      180deg,
      rgba(74%, 61%, 100%, 0.5) 0%,
      rgba(55%, 64%, 98%, 0.5) 100%
    );
  }
  &_theme-secondary {
    background-color: var(--white);
    color: var(--purple);
  }

  &_link {
    @extend .button;
  }
}

.rounded-corners-gradient-borders {
  display: block;
  width: 100%;
  border: double 2px transparent;
  border-radius: 22px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, var(--purple), var(--blue));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.rounded-corners-gradient-borders:hover,
.rounded-corners-gradient-borders:focus {
  background-image: linear-gradient(white, white),
    radial-gradient(
      circle at top left,
      rgba(74%, 61%, 100%, 0.5),
      rgba(55%, 64%, 98%, 0.5)
    );
}
