mixin button(props={})

  //- Кнопка с надписью
  //- Принимает объект props с ключами
  //- lineTitle     string      надпись в кнопке
  //- moduleClass   string      доп имя класса
  //- mods          string      строка модификаций через запятую
  //-   border                  белая кнопка с градиентной границей
  //-   full                    кнопка залита градиентом $PrimaryGradient
  //-   link                    кнопка без бордера, в виде ссылки
  //-   hover                   выглядит идентично состоянию :hover
  //-   big                     кнопка большого размера 320px (20rem)
  //-   arrow                   кнопка со стрелкой "arrow_forward"

    Пример вызова
    +buttons({
      lineTitle: 'CLICK ME',
      mods: 'full, hover'
      })

    +buttons({
      lineTitle: 'CLICK ME',
      mods: 'link'
      })




  -
    const {moduleClass, mods, lineTitle} = props
    let allMods = ''
    if (typeof(mods) !== 'undefined' && mods) {
      let modList = mods.split(',')
      for (let i=0; i < modList.length; i++) {
        allMods = allMods + ' button_' + modList[i].trim()
      }
    }

  button.button(
    class= (moduleClass || '') + allMods,
    type="button"
  )= lineTitle
