extends ../../layout/main/main
include ../../layout/search-form/search-form

block variables
  - let pageClass = 'landing-page';
  - let containerName = 'landing-container'
block content

  .landing-page_search-form-wrapper
    +search-form

