.landing-page {
  background-image: url("/assets/img/landing1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  //margin-bottom: 100px;
  max-width: 100%;
  //max-height: 900px;
}
.landing-page_search-form-wrapper {
  margin-top: 50px;
  margin-left: 600px;
}
