mixin input-field(props = {})
 -
  const {mods, placeholder, readonly, type, required} = props
  var attributes = {}

  let allMods = ''
  if (typeof(mods) !== 'undefined' && mods) {
   let modList = mods.split(',')
   for (let i=0; i < modList.length; i++) {
    allMods = allMods + ' input-field_' + modList[i].trim()
   }
  }

 input.input-field(
  class = allMods,
  placeholder = placeholder || '',
  type= type,
  required= true

 )&attributes(attributes)


