.input-field {
  width: 100%;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 1em;
}
.input-field_date {
  //font-family: Montserrat-Regular;
  //font-style: normal;
  //font-weight: normal;
  //font-size: 14px;
  //line-height: 24px;
  ///* identical to box height, or 171% */
  text-transform: uppercase;
  //color: rgba(31, 32, 65, 0.25);
}
