@import "src/theme/normalize";
@import "src/theme/vars";
@import "src/theme/fonts";
@import "src/pages/index/index";
@import "src/pages/landing/landing";
@import "src/pages/registration/registration";
@import "src/blocks/menu/menu";
html {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
p {
  font-family: var(--first-font);
}

