@import "../../theme/mixins";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  overflow-x: hidden;
  font-size: var(--text-base-size);
  //@include fluid-type($min_width, $max_width, $min_font, $max_font);
}
body,
html {
  width: 100%;
  background-color: white;
  font-family: Montserrat-Regular;
}

a {
  text-decoration: none;
}
.site-name {
  display: none;
}
ul,
li {
  list-style-type: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

img {
  max-width: 100%;
  height: auto;
}
