.checkbox-wrapper {
  display: block;
  margin-bottom: 10.56px;
}
.checkbox {
  padding-left: 1.2em;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  &__box {
    position: absolute;
    margin-top: 0.4em;
    margin-left: -2em;
    border-radius: 4px;
    width: 1.2em;
    height: 1.2em;
    overflow: hidden;
    border: 1px solid rgba(var(--default-color), var(--opasity-025));
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__input:checked + &__box {
    background-image: url("/assets/img/Vector.svg");
    background-repeat: no-repeat;
  }
  &__input:focus + &__box {
  }
  &__input:focus:checked + &__box {
    background-image: url("/assets/img/Vector.svg");
    background-repeat: no-repeat;
  }
  &__input:disabled + &__box {
    border-color: 1px solid var(--default-color);
  }
  &__input:disabled:checked + &__box {
    background-image: url("/assets/img/Vector.svg");
    background-repeat: no-repeat;
  }

  &__input-lable {
    font-size: 14px;
    color: rgba(var(--default-color), var(--opasity-05));
  }
}

//.checkbox {
//  display: inline-flex;
//  align-items: center;
//  border-color: #aaaaaa;
//  cursor: pointer;
//
//  &__input {
//    display: none;
//  }
//  &__box {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    width: 20px;
//    height: 20px;
//    border: 1px solid rgba(var(--default-color), var(--opasity-025));
//    border-radius: 4px;
//    margin-right: 9.74px;
//    flex-shrink: 0;
//    transition: background 0.15s;
//  }
//  &__box::after {
//    color: white;
//    content: "\e5ca";
//    font-family: var(--Material-Icons);
//    font-weight: bold;
//    font-size: 1em !important;
//    text-transform: none;
//    transform: (0);
//    transition: 0.15s;
//  }
//  //+ выбирает дочерний элемент
//  &__input:checked + &__box {
//    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//  }
//  &__input:checked + &__box::after {
//    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//  }
//  &__input-lable {
//    font-size: 14px;
//    color: rgba(var(--default-color), var(--opasity-05));
//    transform: scale(1);
//  }
//}
