extends ../../layout/main/main
include ../../blocks/info/info
include ../../layout/cards/cards
block variables
 - let pageClass = 'galery-page';
 - let containerName = 'galery-container'

block content
 div.cont
  //h2 Номера, которые мы для вас подобрали
  div.filter
  div.card-galery
   +card({
     image: 'room-350-1.jpg',
     righthead:'№ 888',
     righttext:' люкс',
     tophead:'9 990₽',
     toptext:' в сутки',
     bottomhead:'145',
     bottomtext:' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })
   +card({
     image: 'room-350-1.jpg',
     righthead: '№ 888',
     righttext: ' люкс',
     tophead: '9 990₽',
     toptext: ' в сутки',
     bottomhead: '145',
     bottomtext: ' Отзывов'
   })




