.form-elements-text-fields-wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 320px;
}
.short-dropdown-wrapper {
  width: 266px;
}
.form-elements-toggle-wrapper {
  position: absolute;
  top: 30px;
  left: 475px;
  width: 320px;
}
.form-elements-button-container {
  position: absolute;
  top: 30px;
  left: 868px;
  width: 320px;
}

.form-elements-comment-container {
  position: absolute;
  top: 1000px;
}
.short-width-wrapper {
  width: 266px;
}
.expandable-checkbox-drop-w {
  position: absolute;
  top: 1000px;
  bottom: 50px;
}
.wrapper-margin-top100 {
  position: absolute;
  top: 1350px;
  bottom: 50px;
}
