.form-elements-container {
  width: 1160px;
  //background-color: antiquewhite;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.form-elements-toggle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: stretch;
  //border: 1px solid gainsboro;
  width: 260px;
  height: 530px;
}
.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 218px;
  height: 140px;
  //background-color: #e1e6f9;
}
.checkbox-wrapper:last-child {
  display: inline-flex;
}
.radio-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //background-color: yellow;
  height: 60px;
}
.toggle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 95px;
}

.rate-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}
.rw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.like-wrapper {
  display: flex;
  flex-direction: column;
  width: 90px;
  justify-content: space-between;
}

.lw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-elements-text-wrapper {
  width: 320px;
  //height: 250px;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}
.third-container {
  //background-color: red;
}
