extends ../../layout/main/main
block variables
 - let pageClass = 'registration-page';
 - let containerName = 'registration-container'
block content
 include ../../blocks/headers/pages-header/pages-header