.marginBottom-5 {
  margin-bottom: 1px;
}
.marginBottom-10 {
  margin-bottom: 10px;
}
.marginBottom-15 {
  margin-bottom: 15px;
}
.marginBottom-20 {
  margin-bottom: 20px;
}
.marginBottom-25 {
  margin-bottom: 25px;
}
.marginBottom-30 {
  margin-bottom: 30px;
}
.marginBottom-35 {
  margin-bottom: 35px;
}
.marginBottom-40 {
  margin-bottom: 40px;
}
.marginBottom-45 {
  margin-bottom: 45px;
}
.marginBottom-50 {
  margin-bottom: 50px;
}
.flexDirrection-row {
  display: flex;
  justify-content: space-between;
}
.flexDirrection-column {
  display: flex;
  flex-direction: column;
}
