.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
}
.info-top {
  display: flex;
  justify-content: space-between;
  padding: 1em 0 0 0;
}
.info_left-num {
  font-family: var(--third-font);
  font-size: 20px;
  color: var(--default-color);
}

.info_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 0 0 0;

  //float: right;
  //margin-top: 25px;
  //background-color: pink;
}
.rating {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #bc9cff;
  cursor: pointer;
}
.info_left-text {
  font-family: var(--Montserrat-Bold);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--purple);
}

.info_number {
  font-family: Montserrat-Regular;

  font-size: 12px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.bold {
  font-family: Montserrat-Bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.info_text {
  font-family: var(Montserrat-Regular);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);
}
.info_bottom-text {
  font-family: var(Montserrat-Regular);
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}
.icon-info {
  width: 291px;
  height: 48px;
  display: grid;
  grid-template-columns: 48px 220.45px;
  justify-content: space-between;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  display: inline-block;
  line-height: 1rem;
  text-transform: none;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-info-left {
}
.commet-info-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.icon-info_right {
  display: grid;
  justify-content: space-between;
  align-items: baseline;
  font-size: 14px;
}
.icon-info-left > span {
  font-size: 48px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
}
