.index-page {
  margin-top: 6vh;
  background-color: rgba(var(--color-primary), var(--opasity-005));
}

.index-nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
}

.index-nav-list {
  display: flex;
  flex-direction: column;
}

.index-nav-item {
  padding: 1em;
}

.index-nav-link {
  color: var(--color1);
  font-size: var(--text-lg);
  font-family: var(--second-font);
}
