extends ../../layout/main/plain-main

block variables
  - let pageClass = 'index-page';
  - let containerName = 'container-index'
block content
  nav.index-nav
    ul.index-nav-list
      li.index-nav-item
        a.index-nav-link(href="landing.html") Landing
      li.index-nav-item
        a.index-nav-link(href="registration.html") Registration page
      li.index-nav-item
        a.index-nav-link(href="room-details.html") Room details
      li.index-nav-item
        a.index-nav-link(href="galery.html") Gallery
      li.index-nav-item
        a.index-nav-link(href="signin.html") Singn in
      li.index-nav-item
        a.index-nav-link(href="ui.html") Ui Kit
      //include ../../blocks/dropdown/dropdown






