@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Montserrat-Regular.eot");
  src: url("/assets/fonts/Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("/assets/fonts/Montserrat-Regular.ttf") format("truetype"),
    url("/assets/fonts/Montserrat-Regular.svg") format("svg");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Montserrat-Bold.eot");
  src: url("/assets/fonts/Montserrat-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("/assets/fonts/Montserrat-Bold.ttf") format("truetype"),
    url("/assets/fonts/Montserrat-Bold.svg") format("svg");
}
@font-face {
  font-family: "Quicksand-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Quicksand-Bold.eot");
  src: url("/assets/fonts/Quicksand-Bold.eot?#iefix")
      format("/embedded-opentype"),
    url("/assets/fonts/Quicksand-Bold.woff") format("woff"),
    url("/assets/fonts/Quicksand-Bold.ttf") format("truetype"),
    url("/assets/fonts/Quicksand-Bold.svg") format("svg");
}
@font-face {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/OpenSans-Regular.eot");
  src: url("/assets/fonts/OpenSans-Regular.eot?#iefix")
      format("/embedded-opentype"),
    url("/assets/fonts/OpenSans-Regular.woff") format("woff"),
    url("/assets/fonts/OpenSans-Regular.ttf") format("truetype"),
    url("/assets/fonts/OpenSans-Regular.svg") format("svg");
}
@font-face {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/OpenSans-Bold.eot");
  src: url("/assets/fonts/OpenSans-Bold.eot?#iefix")
      format("/embedded-opentype"),
    url("/assets/fonts/OpenSans-Bold.woff") format("woff"),
    url("/assets/fonts/OpenSans-Bold.ttf") format("truetype"),
    url("/assets/fonts/OpenSans-Bold.svg") format("svg");
}
@font-face {
  font-family: "Material Icons";
  src: url("/assets/icons/MaterialIcons-Regular.eot");
  src: url("/assets/icons/MaterialIcons-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/icons/MaterialIcons-Regular.woff") format("woff"),
    url("/assets/icons/MaterialIcons-Regular.ttf") format("truetype"),
    url("/assets/icons/MaterialIcons-Regular.svg") format("svg");
}

@font-face {
  font-family: "Font Awsome";
  src: url("/assets/fonts/fa-brands-400.eot");
  src: url("/assets/fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/fa-brands-400.woff") format("woff"),
    url("/assets/fonts/fa-brands-400.ttf") format("truetype"),
    url("/assets/fonts/fa-brands-400.svg") format("svg");
}
.form-title {
  font-family: OpenSans-Bold;
  font-size: 24px;
  line-height: 30px;
  //color: #1f2041;
}

.form-wrapper10 {
  margin-bottom: 10px;
}
.form-wrapper20 {
  margin-bottom: 20px;
}
.form-wrapper30 {
  margin-bottom: 30px;
}
.form-wrapper40 {
  margin-bottom: 40px;
}

.form-label {
  display: block;
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
  //color: #1f2041;
}

input[placeholder] {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  //color: rgba(31, 32, 65, 0.75);
  //text-transform: uppercase;
  padding: 0.9em;
}

fieldset {
  border: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  //margin: 0 auto;
}

.text-field-right-title {
  font-family: Montserrat-Regular;
  font-weight: 400;
  text-align: right;
  //color: rgba(31, 32, 65, 0.5);
}

.text-field-left-title,
.text-field-right-title {
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.text-field-left-title {
  font-family: Montserrat-Bold;
  font-weight: 700;
  //color: #1f2041;
}

section {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  //color: rgba(31, 32, 65, 0.75);
}
.toggle_lable {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  //color: rgba(31, 32, 65, 0.5);
}
.form-button-wrapper {
  display: grid;
  grid-template-columns: 4fr 1.81fr;
  align-items: center;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  //color: #000000;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  padding: 25px 30px 25px 30px;
}
label:focus {
  border-color: #1f2041;
}
