@import "fonts";
$default-color: #1f2041;
$opasity005: 0.05;

html {
  --gues: 5px;
  --first-font: Montserrat-Regular;
  --second-font: Montserrat-Bold;
  --third-font: Quicksand-Bold;
  --fifth-font: Material-Icon;
  --six-font: Font Awsome;
  --default-color: 31, 32, 65;
  --purple: #bc9cff;
  --blue: #8ba4f9;
  --green: #6fcf97;
  --white: #fff;

  --opasity-075: 0.75;
  --opasity-05: 0.5;
  --opasity-025: 0.25;
  --opasity-005: 0.05;

  --text-base-size: 1em;
  --text-scale-ratio: 1.1418;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio)); //12px
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}
