@import "fonts";

html {
  --first-font: Montserrat-Regular;
  --second-font: Montserrat-Bold;
  --third-font: Quicksand-Bold;
  --fifth-font: Material-Icon;
  --color1: #1f2041;
  //dark shade 100%
  --color2: rgba(31, 32, 65, 0.75);
  //dark shade75%;
  --color3: rgba(31, 32, 65, 0.5);
  //dark shade50%
  --color4: rgba(31, 32, 65, 0.25);
  //dark shade25%
  --color5: rgba(31, 32, 65, 0.05);
  //dark shade5%
  --color6: #bc9cff;
  //purple
  --color7: #6fcf97;
  //green
  --color8: #fff;
  --text-base-size: 1em;
  --text-scale-ratio: 1.33;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}
