@import "fonts";

html {
  --first-font: Montserrat-Regular;
  --second-font: Montserrat-Bold;
  --third-font: Quicksand-Bold;
  --fifth-font: Material-Icon;
  --six-font: Font Awsome;
  --color-primary: 31, 32, 65;
  --color6: #bc9cff;
  --color7: #6fcf97;
  --color8: #fff;
  --opasity-075: 0.75;
  --opasity-05: 0.5;
  --opasity-025: 0.25;
  --opasity-005: 0.05;

  --text-base-size: 1em;
  --text-scale-ratio: 1.1418;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}
