include ../input/input
.l-container
 form(action=" ", method="get")
  .custom.iqdropdown
   p.iqdropdown-selection
   .iqdropdown-menu
    .iqdropdown-menu-option#one(data-id='adult' data-defaultcount='0' data-mincount='0')
     div
      p.iqdropdown-item.adult взрослые

    .iqdropdown-menu-option(data-id='minor' data-defaultcount='0' data-mincount='0')
     div
      p.iqdropdown-item.minor дети

    .iqdropdown-menu-option(data-id='infant')
     div
      p.iqdropdown-item.infant младенцы
    div.button-wrapper
     input(type="reset", value="очистить")
     button(type="button").iqdropdown-menu-close применить
// h3 Custom message
// .custom-message.iqdropdown
//  p.iqdropdown-selection
//  .iqdropdown-menu
//   .iqdropdown-menu-option(data-id='item-a' data-defaultcount='0' data-mincount='0' data-maxcount='5')
//    div
//     p.iqdropdown-item Item A
//   .iqdropdown-menu-option(data-id='item-b' data-defaultcount='0' data-mincount='0' data-maxcount='5')
//    div
//     p.iqdropdown-item Item B
//   button.iqdropdown-menu-close
//    | Cerrar
//// Container

 //h3 Custom config
 //.custom.iqdropdown
 // p.iqdropdown-selection
 // .iqdropdown-menu
 //  .iqdropdown-menu-option(data-id='adult' data-defaultcount='1' data-mincount='1')
 //   div
 //    p.iqdropdown-item Adults
 //    p.iqdropdown-description 12+ years
 //  .iqdropdown-menu-option(data-id='minor' data-defaultcount='0' data-mincount='0')
 //   div
 //    p.iqdropdown-item Children
 //    p.iqdropdown-description 2 - 11 years
 //  .iqdropdown-menu-option(data-id='infant')
 //   div
 //    p.iqdropdown-item Infants
 //    p.iqdropdown-description 2 years
 //  button.iqdropdown-menu-close
 //   | Cerrar