.dropdown {
  position: relative;
  width: 100%;
  //margin: 10px;
}
.dropdown > div {
  font-family: Montserrat-Regular;
  padding: 0.676em 0.9em;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.absolute .dropdown-list {
  position: absolute;
  top: 40px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
.dropdown__name {
}
.dropdown-list {
  display: none;
  border: 1px solid black;
  border-top: none;
}

.dropdown.active .dropdown-list {
  display: block;
}

.dropdown-list__item {
  width: 100%;
  padding: 10px;
}
.controls {
  display: inline;
  text-align: right;
  float: right;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.controls div {
  display: inline-block;
  padding: 0 10px;
}
.disabled {
  color: red;
}
/*Фикс первого дропдауна если оба открыты надеюсь больше 2 не будет))) */
.dropdown.absolute:nth-child(1) .dropdown-list {
  z-index: 2;
}
