mixin dropdown(props={})
 -

  const {mods, moduleClass, dropdownList, wordforms, dat, defaultFieldTitle} = props
  let allMods = ''
  if (typeof(mods) !== 'undefined' && mods) {
   let modList = mods.split(',')
   for (let i=0; i < modList.length; i++) {
    allMods = allMods + ' dropdown_' + modList[i].trim()
   }
  }

 .dropdown(several-word-forms)(
  class = moduleClass + allMods,
  default= defaultFieldTitle
 )
  .dropdown__name
  .dropdown-list
   each dropdownItem, index in dropdownList
    - const {title, name, defaultValue, wordforms} = dropdownItem
    .dropdown-list__item(
     name = name,
     default = defaultValue,
     wordforms= wordforms,
    )= title


