mixin rate(rate)
  - var count = 0;
  .rating
    while count < 5
      if count < rate
        i.material-icons.rating__icon star
      else
        i.material-icons.rating__icon star_border
      -count++
