div.pages-footer-wrapper
 footer.footer-wrapper
  div.footer-logo
   a.pages-footer-logo(href="landing.html")
    img.logo(src='assets/img/logo.svg')
   p.footer-logotext.
       Бронирование номеров в лучшем
       отеле 2019 года по версии
       ассоциации "Отельные взгляды"
  div.pages-footer-nav
   ul.pages-footer-nav-list
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Навигация
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") О нас
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Новости
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Служба поддержки
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Услуги
    li.pages-footer-nav-item

   ul.pages-footer-nav-list
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") О нас
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") О сервисе
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Наша команда
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Вакансии
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Инвесторы


   ul.pages-footer-nav-list
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Служба поддержки
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Соглашения
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Сообщения
    li.pages-footer-nav-item
     a.pages-footer-nav-link(href="/mock address/") Связь с нами

  div.footer-subscribe
    span Подписка
    p.
      Получайте специальные
      предложения и новости сервиса