.index-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.index-item {
  align-content: space-between;
  padding: 1.5em;
}

.index-link {
  color: var(--color1);
  text-transform: uppercase;
  font-size: var(--text-xl);
  font-family: var(--first-font);
}
