.cards-page-search-form-w {
  position: absolute;
  top: 20px;
  left: 30px;
}
.cards-page-booking-form-w {
  position: absolute;
  top: 20px;
  left: 450px;
}
.cards-page-static-calendar-w {
  position: absolute;
  top: 20px;
  right: 200px;
}
.cards-page-registration-form-w {
  position: absolute;
  top: 450px;
  left: 30px;
}
.cards-page-singin-form-w {
  position: absolute;
  top: 550px;
  left: 450px;
}
