.cards-page-search-form-w {
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
}
.cards-page-booking-form-w {
  display: inline-block;
  margin-top: 20px;
  margin-left: 50px;
}
.cards-page-static-calendar-w {
  position: absolute;
  top: 20px;
  right: 200px;
}
