extends ../../layout/main/plain-main
include ../../blocks/input/input
include ../../layout/wrapper/wrapper
block variables
 - let pageClass = 'cards';
block content
 div.cards-page-search-form-w
  include ../../layout/search-form/search-form
 div.cards-page-booking-form-w
  include ../../layout/ booking-form/booking-form
 div.cards-page-static-calendar-w
  span.mytest
