extends ../../layout/main/plain-main
include ../../layout/search-form/search-form
include ../../layout/ booking-form/booking-form
include ../../layout/registration-form/registration-form
include ../../layout/singin/singin
block variables
 - let pageClass = 'cards';
block content
 div.cards-page-search-form-w
  +search-form()
 div.cards-page-booking-form-w
  +booking-form()
 div.cards-page-static-calendar-w
  span.mytest
 div.cards-page-registration-form-w
  +registration-form()
 div.cards-page-singin-form-w
  +singin()
