.like-button {
  background-color: transparent;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out,
    transform 150ms ease-in-out;
  outline: 0;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  color: rgba(31, 32, 65, 0.25);
  //&:hover {
  //  color: #bc9cff;
  //}
  //
  //&:active {
  //  transform: scale(0.95);
  //}
  //
  //&.selected {
  //  color: #bc9cff;
  //  border-color: #bc9cff;
  //}

  .heart-icon {
    fill: currentColor;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.like-button.violet {
  color: #bc9cff;
}
.like__number {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
.like__number.violet {
  color: #bc9cff;
}
